<h1> Get a Quote: </h1>


<table>
  <tr>
    <th>Ticker Symbol</th>
  </tr>
  <%= for s <- @symbols do %>
  <tr>
    <td><%= s %></td>
    <td><%= link "Get Quote", to: stock_quote_path(@conn, :show, char_to_string(s)) %></td>
    <td><%= link "Historical Quote", to: history_path(@conn, :show, char_to_string(s)) %></td>
  </tr>
  <% end %>
</table>
